.ghe {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    background-color: rgb(95, 41, 188);

    color: #fff;
}

.gheDaDat {
    background-color: rgb(123, 122, 122) !important;
    cursor: no-drop;
}

.gheDangDat {
    background-color: rgb(35, 208, 87) !important;
}

.gheVip {
    background-color: rgb(227, 28, 10);

}

.gheDaDuocDat {
    background-color: rgb(246, 246, 246)!important;
    -webkit-box-shadow: -1px 2px 18px -6px #000000;
    box-shadow: -1px 2px 18px -6px #000000;
    color: orange !important;
    border: 1px solid black;
}