#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}

.ant-menu-item {
    background-color: #001628 !important
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background-color: #001628 !important

}

.thea{
    padding-bottom: 10px;
    color: #ffffff!important;
}
